body{
	background: url("PL - Assets/home.png") 880px 123px,
				url("PL - Assets/home-bc.png") 720px 0px,
				url("PL - Assets/footer-bc.jpg") 20% 100%,
		 		url("PL - Assets/flowers.svg") 20px 760px;
	background-size:18%,54%,100%, 60%;
    background-repeat:no-repeat, no-repeat, no-repeat, repeat-x;
    padding-left:15%;
    padding-top:70px;
    margin:0;
}	
/*HEADER*/
header{
	width:12%;
	height:100vh;
	background:rgba(255,255,255,0.7);
	position:fixed;
	top:0;
	left:0;	
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
}
.logo{
	width:100px;
	margin-top:50px;
	align-self:center;
}
.nav{
	padding-top: 28px;
	padding-left:30px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.a{
	padding-top: 8px;
	font-family:Raleway; 
	font-size:1em;
	font-weight:normal;
	font-style:normal;
	text-align:left;
	text-decoration:none;
	margin: 12px 0;
	color:#005884;
	line-height:0.84em;
}
.a:hover{
	font-weight:bold;
}
/*MAIN*/
main{
	width: 100%;
}
.inicio{
	margin-top:49px;
    padding-left:6%;
	display:flex;
    flex-direction:column; 
}
.inicio h2{
	width: 54%;	
	font-family:Sunday;
	font-weight:normal;
	font-size:1.25em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:2.25em; *ATENÇÃO*
	line-height:2em;
}
.sobre{ /*Texto sobre o Pontinho de Luz*/ 
	padding-top: 42px;
	padding-right:35%;
    width:65%;	
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;
}
.redes{
	padding-top:220px;
	padding-left:6%;
	display:flex;
	flex-wrap:wrap;
}
.h2-redes{
	width:100%;
	font-family:Sunday;
	font-size:1.25em;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	line-height:2.25em;
	color:#005884;
}
figure{
	padding:0;
	margin:0;
	display:flex;
	flex-direction:	column;
}
.rede{ /* IMAGENS REDE SOLIDARIEDADE*/
	width:185px;
	padding-right:10px;
}
.figcaption{	
	padding-top:16px;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;
}
.programas{
	padding-top:60px;
	padding-left:6%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.h2-programas, .h2-parceiros{ /*H2 PROGRAMAS, H2 PARCEIROS*/
	width:100%;
	font-family:Sunday;
	font-size:1.25em;
	font-style:normal; 
	text-align:left;
	font-weight:normal;
	color:#005884;
	line-height:2.25em;	
}
.div-programas{ /*DIV PROGRAMAS*/
	width:5%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.imagem-programas{
	height:70px;
	padding-top:56px;
}
.text-programas{ /*H3 DE PROGRAMAS*/
	width:10%;
	margin-top:80px;
	margin-left:1%;
	padding-left:1%;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:0.86em;
}
.p-programas{ /*P DE PROGRAMAS*/
	width:80%;	
	padding-top:62px;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;	
}
.parceiros{
	margin-bottom: 12%;
	padding-top: 50px;
	padding-left: 6%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.parceiros img{
	padding-top: 20px; 
}
.parceiro1{
	width: 120px;
}
.parceiro2{
	width:	150px; /*IMAGEM-PARCEIROS*/
	margin-left: 6%;
}
footer{
	width:100%;
	/*display: flex;
	flex-direction: row;*/	
}
/*.contato2{
}*/
.h2-contatos{
	padding-top:40px;	
	width:100%;
	font-family:Sunday;
	font-size:1.4em;
	font-style:normal; 
	text-align:left;
	font-weight:normal;
	color:#fff;
	line-height:3em;		
}
.solzinho{
	width:8%;
}
.contato2{
	width: 28.3%;	
	display: flex;
	flex-direction:column;
	background: red;
}
.icons-contato{
    display: flex;	
	flex-wrap:wrap;
	align-items: center;
}
.icons{
	width:20px; 
}
.p-contatos{	
	font-family:Raleway;
	font-size: 1em;
    font-weight: bold;
	font-style:normal;
	color: #fff;
	text-align:left;
	line-height:0.86em;	
}
.p-contatos2{
	font-family:Raleway;
	font-size: 1em;
    font-weight:normal;
	font-style:	normal;
	color: #fff;
	text-align:left;
	line-height: 1.2em;	
}
.iframe{
	/*padding-left: 10%;*/
	/*padding-top: 20%;*/
}
