body{
    padding-left:15%;
    padding-top:70px;
    margin:0;
	background: url("PL - Assets/home.png") 880px 123px,
				url("PL - Assets/home-bc.png") 720px 0px,
				url("PL - Assets/footer-bc.jpg") 20% 100%;
	background-size:18%,54%,100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    position: relative;
}
@media(max-width: 640px){
	body{
	    padding-top: 0%;
	    padding-left: 3%;
	    margin:0;
		background: url("PL - Assets/home.png") 200px 190px,
					url("PL - Assets/home-bc.png") 40px 0px,
					url("PL - Assets/footer-bc.jpg") 20% 3000px;
		background-size:150px, 800px, 2300px;
	    background-repeat:no-repeat, no-repeat, no-repeat;
		}
}	
header{
	width:12%;
	height:100%;
	background-color: #fff;
	position:fixed;
	top:0;
	left:0;	
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
}
@media(max-width: 640px){
	header{
		display: none;
	}
}
.logo{
	width:100px;
	margin-top:50px;
	align-self:center;
}

.nav{
	padding-top:28px;
	padding-left:30px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.logo2{
	width:100px;
	margin-top:50px;
	align-self:center;
	display: none;	
}
@media(max-width: 640px){
	.logo2{
		width:40%;
		padding-bottom:40px;
		padding-right:60%;
		display: inline;
	}
}
.a{
	margin:12px 0;
	padding-top:8px;
	font-family:Raleway; 
	font-size:1em;
	font-weight:normal;
	font-style:normal;
	text-align:left;
	text-decoration:none;
	color:#005884;
	line-height:0.84em;
}
.a:hover{
	font-weight:bold;
}
main{
	width:100%;
}
.inicio{
	margin-top:49px;
    padding-left:6%;
	display:flex;
    flex-direction:column; 
  	padding-bottom:23vh;
    background: url("PL - Assets/flowers.svg") bottom no-repeat;
    background-size:60%;
    background-repeat:repeat-x; 
}
@media(max-width: 640px){
	.inicio{
		padding-left:0%;
		padding-bottom:15vh;
		background-size:450px;
		background-repeat:repeat-x;
	}
}
.inicio h2{
	width: 54%;	
	font-family:Sunday;
	font-weight:normal;
	font-size:1.25em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:2.25em;
	line-height:2em;
}
@media (max-width: 640px){
	.inicio h2{
		width: 100%;
	}
}
.sobre{ 
    width:65%;	
	padding-top:42px;
	padding-right:35%;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;
}
@media (max-width: 640px){
	.sobre{
		width:93%;
		padding-right: 0%;
	}
}
.redes{
	padding-top:50px;
	padding-left:6%;
	display:flex;
	flex-wrap:wrap;
}
@media (max-width: 640px){
	.redes{
		padding-top:25px;
		padding-left:0%;
	}
}
.h2-redes{
	width:100%;
	font-family:Sunday;
	font-size:1.25em;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	line-height:2.25em;
	color:#005884;
}
figure{
	padding:0;
	margin:0;
	display:flex;
	flex-direction:	column;
}
@media (max-width: 640px){
	figure{
		width:50%;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
	}
}
.rede{
	width:185px;
	padding-right:10px;
}
 @media (max-width: 640px){
	.rede{
		width: 95%;
	}
}
.figcaption{	
	padding-top:16px;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;
}
.programas{
	padding-top:60px;
	padding-left:6%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
 @media (max-width: 640px){
 	.programas{
 		padding-left:0%;
 		padding-top:7%;
 	}
}
.h2-programas, .h2-parceiros{ /*H2 PROGRAMAS, H2 PARCEIROS*/
	width:100%;
	font-family:Sunday;
	font-size:1.25em;
	font-style:normal; 
	text-align:left;
	font-weight:normal;
	color:#005884;
	line-height:2.25em;	
}
.div-programas{
	width:5%;
	display:flex;
	justify-content:center;
	align-items:center;
}
@media(max-width: 640px){
	.div-programas{
		width: 10%;
		padding-left: 4%;
	}
}
.imagem-programas{
	height:70px;
	padding-top:56px;
}
@media(max-width: 640px){
	.imagem-programas{
		padding-top: 8%;
	}
}
.text-programas{
	width:10%;
	margin-top:80px;
	margin-left:1%;
	padding-left:1%;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:0.86em;
}
@media(max-width: 640px){
	.text-programas{
		width: 60%;
		margin-top: 10%;
		padding-left: 28px;
	}
}
.p-programas{
	width:80%;	
	padding-top:62px;
	font-family:Raleway;
	font-size:1em;
	font-style:normal;
	text-align:left;
	color:#005884;
	line-height:1.3em;	
}
@media(max-width: 640px){
	.p-programas{
		width: 100%;
		padding-top: 1%;
		padding-left: 0%;
	}
}
.parceiros{
	margin-bottom: 12%;
	padding-top: 50px;
	padding-left: 6%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
 @media (max-width: 640px){
 	.parceiros{
 		padding-left: 0%;
 		padding-top: 0px;
 		padding-bottom: 40px;
 	}
}
.parceiros img{
	padding-top: 20px; 
}
.parceiro1{
	width: 120px;
}
@media(max-width: 640px){
	.parceiro1{
		width:120px;
		height: 45px;
	}
}
.parceiro2{
	width: 180px;
	margin-left: 10%; 
}
@media(max-width: 640px){
	.parceiro2{
		width: 180px;
		margin-left: 10%; 
	}
}
footer{
	width:100%;
	padding-bottom: 65px;
	display: flex;
	flex-direction: column;
}
@media(max-width: 640px){
	footer{
		padding-bottom: 52px;
	}
}
footer section{
	display: flex;
	flex-direction: row;
}
.contato1{
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
} 
@media(max-width: 640px){
	.contato1{
		margin-bottom: 30px;
	}
}
.div-contato{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.h2-contatos{
	width: 100%;
	padding-top:40px;	
	font-family:Sunday;
	font-size:1.4em;
	font-style:normal; 
	font-weight:normal;
	text-align:center;
	color:#fff;
	line-height:3em;			
}
@media(max-width: 640px){
	.h2-contatos{
		width: 95%;
	}
}
.solzinho{
	width:45%;
}
@media(max-width: 640px){
	.solzinho{
		width: 90%;
	}
}
.contato2{
	width: 100%;	
	display: flex;
	flex-direction:row;
	align-items: flex-start;
	flex-wrap: wrap;
}
.contato2__div{
	width: 31%;
}
@media(max-width: 640px){
	.contato2__div{
		width: 100%;
	}
}
.icons-contato{
    display: flex;	
	flex-wrap:wrap;
	align-items: center;
}
@media(max-width: 640px){
	.icons-contato{
		padding-left: 7%;
	}
}
.icons{
	width:20px;
	margin-right: 5px; 
}
.p-contatos{	
	font-family:Raleway;
	font-size: 1em;
    font-weight: bold;
	font-style:normal;
	color: #fff;
	text-align:left;
	line-height:0.86em;	
}
@media(max-width: 640px){
	.p-contatos{
		width: 80%;
	}
}
.p-contatos2{
	font-family:Raleway;
	font-size: 1em;
    font-weight:normal;
	font-style:	normal;
	color: #fff;
	text-align:left;
	line-height: 1.2em;	
}
@media(max-width: 640px){
	.p-contatos2{
		width: 60%;
		padding-left: 7%;
	}
}
.contato3{
	width: 60%;
	margin-left: 20px;
}
.contato2 iframe{
	margin: 0 30px;
}
@media(max-width: 640px){
	.contato2 iframe{
		margin: 0 auto;
		margin-bottom: 6px; 
	}
}
/*footer Vai na Web */
.vnw{ 
	width: 100%;
    height: 40px; 
	background: #f16337;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
}
.vnw__text{
  font-family: 'filson-soft', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
    color: #30368c;
}
.vnw__link{
    color: #30368c;
}
@media (max-width: 768px){
	.vnw__text{
        font-size: 12px;
    }
}